name: Lint

on:
  push:
    branches:
      - main
  pull_request:

jobs:
  ruff:
    runs-on: "ubuntu-latest"
    name: "Ruff"
    steps:
      - name: Check out the repository
        uses: "actions/checkout@v4"

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.12"

      - name: Install requirements
        run: pip install ruff

      - name: Run Ruff linter
        run: ruff check custom_components/marstek_cloud

      - name: Run Ruff formatter
        run: ruff format custom_components/marstek_cloud --check